<!doctype html>
<html>

<head>
  <title>SA Pathology</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='nav.css') }}" />
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='record.css') }}" />

</head>

<div class="topnav">
  <a href="/">New Request</a>
  <a href="/records">Record</a>
  <a class="active" href="/dashboard">Dashboard</a>
</div>
<form action="{{ url_for('dashboard')}}" method="POST">
    <fieldset>
        <select name="feature" id="feature" method="GET" action="/" onchange="jsFunction()">
	    		<option value="" SELECTED>Select graph</option>"
	    	{% for f in features %}
	        	<option value="/static/graph/{{f}}.png">{{f}}</option>"
	    	{% endfor %}
	   </select>
    </fieldset>
    <div id="imgSrc"></div> 
    <script  type="text/javascript">
    function jsFunction(){
	  	var e = document.getElementById("feature");
	  	var selectedValue = e.options[e.selectedIndex].value;
	  	var path = '<img src=' + selectedValue + ' id="imageBox"/>';
	  	document.getElementById('imgSrc').innerHTML = path;
	  }
  	</script>
</form>
  </body>

</html>