<!doctype html>
<html>

<head>
  <title>SA Pathology</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='j.js') }}"></script>
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='navStyle.css') }}" />
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='recordStyle.css') }}" />
</head>

<div class="topnav">
  <a class="active" href="/">New Request</a>
  <a href="/records">Record</a>
  <a href="/dashboard">Dashboard</a>
</div>
<form action="{{ url_for('editRecord',id = id)}}" method="POST">
    <fieldset>
        <h4>Please give your input on model decision:</h4>
        
		Patient Id:
		{{ id }}
		
		<br><br>
		
		Prediction:
		{% if Prediction == 1 %} Yes {% else %} No {% endif %}
		
		<br><br>
		
		<div title="Evaluation">
		Evaluation:
		<label class="radio-inline"> 
		<select id="Evaluation" name="Evaluation">
				<option value="">Select</option>
         		<option value="0">No</option>
          		<option value="1">Yes</option>
    	</select>
		</div>
		<br>
		Feedback:  <textarea type="text" id="inputField" name="Feedback"></textarea>
		
		<br><br>
        <input type="submit" align="center">
    </fieldset>
</form>
  </body>

</html>