<!doctype html>
<html>

<head>
    <title>SA Pathology</title>
	 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styleR.css') }}" />
</head>

<div class="topnav">
  <a href="/">New Request</a>
  <a class="active" href="/records">Record</a>
  <a href="/dashboard">Dashboard</a>
</div>


<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <h2>Patient List</h2>
	</fieldset>	
<div style="overflow-x:auto;">
<table style="width:100%">
  <tr>
	<th>Patient Id</th>
  <th>GCS Total</th>
	<th>Injury Mechanism</th>
	<th>Prediction</th>
	<th>Evaluation</th>
  <th>Date Submitted</th>
	<th></th>
	<th></th>
  </tr>
  {% for patient in Patients %}
  <tr>
	<td>{{patient.id}}</td>
  <td>{{patient.GCSTotal}}</td>
  <td>{% if patient.InjuryMech == 1 %} Occupant in motor vehicle collision(MVC)
       {% elif patient.InjuryMech == 2 %} Pedestrian struck by moving vehicle
       {% elif patient.InjuryMech == 3 %} Bike rider struck by automobile
       {% elif patient.InjuryMech ==  4 %} Bike collision or fall from bike while riding
       {% elif patient.InjuryMech ==  5 %} Other wheeled transport crash
       {% elif patient.InjuryMech ==  6 %} Fall to ground from standing/walking/running
       {% elif patient.InjuryMech ==  7 %} Walked or ran into stationary object
       {% elif patient.InjuryMech ==  8 %} Fall from an elevation
       {% elif patient.InjuryMech ==  9 %} Fall down stairs
       {% elif patient.InjuryMech ==  10 %} Sports
       {% elif patient.InjuryMech ==  11 %} Assault
       {% elif patient.InjuryMech ==  12 %} Object Struck head - accidental
       {% else %} Other Mechanism
       {% endif %}
  </td>
  <td>{% if patient.Prediction == 1 %} Yes {% else %} No {% endif %}</td>
  <td>{% if patient.Evaluation == 1 %} Yes {% else %} No {% endif %}</td>
  <td>{{patient.DateSubmited}}</td>
	 <td>
	 <a href="{{url_for('editRecord', id = patient.id )}}">
           Edit
       </a>
	   </td>
	   <td>
       <a href="{{url_for('deleteRecord', id = patient.id)}}" style="margin-left: 10px;">
           Delete
       </a>
	   </td>
  </tr>
  {% endfor %}
</table>
</div>
{% for p in page %}
    {% if p %}
        <a href="{{url_for('recordPage', page_num = p)}}">{{ p }}</a>
    {% else %}
      ...
    {% endif %}
{% endfor %}
  </body>

</form>
<br>

</html>